{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block additional_title %}| Account Profile{% endblock %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs nav-fill mt-4 mb-3">
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/profiles/' %}active{% endif %}"
                href="{% url 'profiles' %}">Info</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/accounts/email/' %}active{% endif %}"
                href="{% url 'account_email' %}">Email</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/profiles/update/address/' %}active{% endif %}"
                href="{% url 'update_address' %}">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/profiles/subscription_history/' %}active{% endif %}"
                href="{% url 'subscription_history' %}">Subscription</a>
        </li>
    </ul>
    {% block profilecontent %}

    {% endblock %}
</div>


{% endblock %}