{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block additional_title %}| Account Profile{% endblock %}

{% block content %}
<div class="container page-push mb-5 pb-5">
    <ul class="nav nav-tabs nav-fill mt-4 mb-3">
        <li class="nav-item">
            <a class="nav-link profile {% if request.get_full_path == '/profiles/' %}active{% endif %}"
                href="{% url 'profiles' %}"
                aria-label="Find your personal information here.">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link profile {% if request.get_full_path == '/profiles/update/address/' %}active{% endif %}"
                href="{% url 'update_address' %}"
                aria-label="Update your delivery and billing information.">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link profile {% if request.get_full_path == '/profiles/subscription_history/' %}active{% endif %}"
                href="{% url 'subscription_history' %}"
                aria-label="View your subscription history.">Subscription</a>
        </li>
    </ul>
    {% block profilecontent %}

    {% endblock %}
</div>
{% endblock %}