{% extends 'base.html' %}
{% load static %}

{% block additional_title %}| Subscription History{% endblock %}

{% block content %}
<div class="container">
    <h1>Subscription history</h1>
    <div class="row">
        {% for invoice in invoices %}
        <ul class="col-4">
            <li>{{ invoice.invoice_number }}</li>
            <li>Start: {{ invoice.current_start }}</li>
            <li>End: {{ invoice.current_end }}</li>
            <li>Delivered to:
                <ul>
                    <li>{{ invoice.delivery_name }}</li>
                    <li>{{ invoice.address_1 }}</li>
                    <li>{{ invoice.address_2 }}</li>
                    <li>{{ invoice.town_or_city }}</li>
                    <li>{{ invoice.county }}</li>
                    <li>{{ invoice.postcode }}</li>
                </ul>
        </ul>
        <div class="col-4">
            <p>{{ invoice.recipe }}</p>
            <img src="{{ invoice.recipe.image.url }}" alt="{{ invoice.recipe }}"
                height="100">
        </div>
        <div class="col-4">
            <p>{{ invoice.recipe.featured_product.name }}</p>
            <img src="{{ invoice.recipe.featured_product.image.url  }}"
                alt="{{ invoice.recipe.featured_product }}" height="100">
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}