{% extends 'base.html' %}

{% load static %}

{% block additional_title %}| UpdateAddress{% endblock %} {% block content %}
<div class="container">
   <h1>Update address</h1>
   <div class="row">

      <form method="POST" action="{% url 'update_address' %}" class="col-6">
         {% csrf_token %}
         <div>
            <h3>Delivery Address</h3>{{form|crispy}}
         </div>
         <button type="submit">Update</button>
      </form>
      <form method="POST" action="{% url 'update_billing' %}" class="col-6">
         {% csrf_token %}
         <div id="billing-form">
            <h3>Billing Address</h3> {{bill_form|crispy}}
         </div>
         <button type="submit">Update</button>
      </form>
   </div>
</div>
{% endblock %}