{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block additional_title %}| Our Honies{% endblock %}

{% block content %}
<main>
    <div class="container-fluid recipe-header text-center">
        <h1 class="pt-5 drop-shadow">Scrumptious Recipes</h1>
        <p class="drop-shadow">Finally the best stuff about honey, the eating!
        </p>
    </div>
    <div class="container py-5">
        {% for recipe in recipes %}
        <div class="row recipe-list my-3">
            <div class="col-12 col-md-4 p-0">
                <a href="{% url 'recipe_detail' recipe.title %}">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                </a>
            </div>
            <div class="col-12 col-md-8 py-4 px-5">
                <a href="{% url 'recipe_detail' recipe.title %}">
                    <h3 class="pt-2">{{ recipe.title }}</h3>
                </a>
                <p class="pt-2">{{ recipe.description }}</p>
                <p>{{ recipe.publish_date|date }}</p>
                {% if recipe.is_restricted %}
                <div><i class="fas fa-certificate">Subscribe</i></div>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="{% url 'update_recipe' recipe.title %}"
                    class="btn btn-info">Edit</a>
                <button type="button" class="btn btn-warning delete"
                    data-toggle="modal" data-target="#deleteConfirm"
                    data-info="{% url 'delete_recipe' recipe.title %}">
                    Delete
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

{% block modal %}
{% include "includes/modal.html" %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'recipes/js/delete.js' %}" type="text/javascript">
</script>
{% endblock %}