{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
{% endblock %}

{% block additional_title %}| {{ recipe.title }}{% endblock %}

{% block content %}
{% if not restricted or request.user.userprofile.has_active_subscription %}
<article class="container page-push">
    <div class="row pt-2 pt-lg-4 recipe">
        <!-- Recipe section-->
        <div class="col-12 col-lg-5 pt-4 p-lg-4 details">
            <h1 class="mb-3 text-center text-md-left">{{ recipe.title }}</h1>
            <p class="d-none d-lg-block">{{ recipe.description }}</p>
            <h3 class="p-2 d-none d-lg-block mb-lg-0 pb-lg-1">Ingredients</h3>
            <!-- Ingredients section for laptop and above-->
            <ul class="d-none d-lg-block white">
                {% for ingredient in recipe.ingredients %}
                <li class="mb-1">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Recipe Image-->
        <div class="col-12 d-flex justify-content-center">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
        </div>
        <!-- Ingredients section for Mobile and tablet-->
        <div class="col-12 col-lg-6 pt-4 d-lg-none">
            <p>{{ recipe.description }}</p>
            <h3 class="text-center p-2">Ingredients</h3>
            <ul class="white">
                {% for ingredient in recipe.ingredients %}
                <li class="mb-1">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row divider mx-auto my-3 d-lg-none"></div>
    <div class="row pb-3 px-3 pb-md-5 pt-lg-4">
        <h3 class="text-center col-12 pt-4 my-2">Instructions</h3>
        <ol class="col-12 white">
            {% for instruction in recipe.instructions %}
            <li class="m-3">{{ instruction }}</li>
            {% endfor %}
        </ol>
    </div>
</article>
<!-- Featured Product-->
<section class="container">
    <div class="row mb-3 py-lg-2 featured-product">
        <div class="col-12 col-md-5 text-center py-3 mt-3 mt-md-2 mt-lg-0">
            <a href="{% url 'product_details' recipe.featured_product.id %}"
                aria-label="See details for {{product.name}}">
                <img src="{{ recipe.featured_product.image.url }}"
                    alt="{{ recipe.featured_product.name }}">
            </a>
        </div>
        <div class="col-12 col-md-7 text-center mb-5">
            <h4 class="black pt-md-3 pt-lg-5">This recipe was made with the
                fantastic
                taste of:
            </h4>
            <h2 class="py-4 mb-3 text-center black">
                {{ recipe.featured_product }}</h2>
            <a href="{% url 'product_details' recipe.featured_product.id %}"
                aria-label="See details for {{product.name}}"
                class="btn-lg button-dark mx-auto" role="button">
                More Info
            </a>
        </div>
    </div>
</section>

<!-- Other recipes -->
<section class="container py-4 mb-5">
    <h3 class="text-center pb-4">You May Also Enjoy</h3>
    <div class="row">
        {% for recipe in recipes %}
        <article class="col-12 col-md-6 col-lg-3 other-recipe text-center">
            <a href="{% url 'recipe_detail' recipe.title %}"
                aria-label="See details for {{recipe.title}}"><img
                    src="{{ recipe.image.url }}" alt="{{ recipe.title }}"></a>
            <h4 class="p-1 mb-3">{{ recipe.title }}</h4>
        </article>
        {% endfor %}
    </div>
</section>
{% else %}
<!-- Restricted Filler content-->
<article class="container page-push">
    <div class="row pt-2 pt-lg-4 recipe">
        <!-- Recipe section-->
        <div class="col-12 col-lg-5 pt-4 p-lg-4 details">
            <h1 class="mb-3 text-center text-md-left">{{ recipe.title }}</h1>
            <p class="d-none d-lg-block">{{ recipe.description }}</p>
            <h3 class="p-2 d-none d-lg-block mb-lg-0 pb-lg-1">Ingredients</h3>
            <!-- Ingredients section for laptop and above-->
            <ul class="d-none d-lg-block white">
                {% for ingredient in recipe.ingredients %}
                <li class="mb-1">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Recipe Image-->
        <div class="col-12 d-flex justify-content-center">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
        </div>
        <!-- Ingredients section for Mobile and tablet-->
        <div class="col-12 col-lg-6 pt-4 d-lg-none">
            <p>{{ recipe.description }}</p>
            <h3 class="text-center p-2">Ingredients</h3>
            <ul class="white">
                {% for ingredient in recipe.ingredients %}
                <li class="mb-1">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row divider mx-auto my-3 d-lg-none"></div>
    <div class="row blur py-lg-5">
        <h3 class="text-center col-12 pt-4">Instructions</h3>
        <ol class="col-12 white">
            <li class="m-3">This content is restricted and cannot be accessed by
                unsubscribed users. To access this content please subscribe to
                FreeBees or wait until this becomes available at a later date.
            </li>
            <li class="m-3">This content is STILL restricted and cannot be
                accessed by
                unsubscribed users. Content is usually available to all after 3
                months and can be access permanently from that time onwards.
            </li>
            <li class="m-3">While we understand your disappointment for this,
                the money used for this access can go a long way to supporting
                our country's bee and wildlife populations.
            </li>
            <li class="m-3">We hope you understand and are also impressed you've
                read this far and tried to trick our content block.
            </li>
        </ol>
    </div>
</article>
<!--- Fake featured product --->
<section class="container blur mb-5 pb-3">
    <div class="row mb-3 py-lg-2 featured-product">
        <div class="col-12 col-md-5 text-center py-3 mt-3 mt-md-2 mt-lg-0">
            <a href="{% url 'subscription_page' %}">
                <img src="{{ MEDIA_URL }}Sketch004.jpg"
                    alt="Fake restriction Image">
            </a>
        </div>
        <div class="col-12 col-md-7 text-center mb-5">
            <h4 class="black pt-md-3 pt-lg-5"></h4>>This recipe was made with
            the fantastic taste of:</h4>
            <h2 class="py-4 mb-3 text-center black">Restriction filters!</h2>
            <a href="{% url 'subscription_page' %}"
                class="btn-lg button-yellow mx-auto" role="button">Sign Up</a>
        </div>
    </div>
</section>
<div class="restricted container text-center">
    <h3>You must be subscribed to view.</h3>
    <p>
        If you're interested in reading the tastiest new recipes as soon as they
        are published, why not subscribe and help us look after our bees
    </p>
    <a href="{% url 'subscription_page' %}" class="btn-lg button-yellow mx-auto"
        role="button">Subscribe</a>
</div>
{% endif %}
{% endblock %}