{% extends 'base.html' %}
{% load static %}

{% block additional_title %}| Editing {recipe.title}{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'update_recipe' recipe.title %}" method="POST"
        class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'image' %}
        {{ field| as_crispy_field }}
        {% else %}
        {{ field }}
        {% endif %}
        {% endfor %}
        <div class="text-right">
            <a href="{% url 'recipes' %}" class="btn btn-danger"> Cancel</a>
            <button class="btn btn-success" type="submit">Edit
                Recipe</button>
        </div>
    </form>
</div>
{% endblock %}