.profile-img {
    height: 10rem;
    background: linear-gradient(45deg, #dd22ff, #09e4ff);
    object-fit: cover;
    padding: 1rem;
    border-radius: 50%;
}

.invoice {
    background-color: white;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.6));
}

.invoice img {
    height: 10rem;
    object-fit: cover;
    width: 100%;
    border-radius: 5%;
}

.invoice a {
    color: black;
    text-decoration: none;
}


/*---------------Tablet-------------*/
@media(min-width:768px) {
    .invoice img {
        height: 11rem;
    }
}

/*---------------Laptop-------------*/
@media(min-width:992px) {
    .invoice img {
        height: 15rem;
    }
}