/*-----------Profile base------------*/
.nav-tabs {
    border-bottom: 1px solid #d4c059;
    background: #161616;
}

.nav-link {
    color: white;
    font-family: var(--bebas-neue);
    font-size: 1.25rem;
}

.nav-link.profile.active {
    background-color: transparent;
    border: none;
    color: var(--gold);
    text-decoration: underline 3px white;
    text-underline-offset: 0.25rem;
}

/*--------User profile page---------*/
.profile-img h2 {
    height: 9rem;
    width: 10rem;
    font-size: 6rem;
    background: linear-gradient(45deg, #dd22ff, #09e4ff);
    padding: 1rem;
    border-radius: 50%;
}

.profile-side img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

/*----------Subscription history -----------*/

.invoice {
    background-color: #202020;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.6));
}

.invoice img {
    height: 10rem;
    object-fit: cover;
    width: 100%;
    border-radius: 5%;
    border: 3px inset var(--gold);
}

.invoice a {
    color: black;
    text-decoration: none;
}


/*---------------Tablet-------------*/
@media(min-width:768px) {
    .invoice img {
        height: 11rem;
    }

    .invoice h2 {
        font-size: 4rem;
    }
}

/*---------------Laptop-------------*/
@media(min-width:992px) {
    .invoice img {
        height: 15rem;
    }
}