/*-----------General----------*/


/*-----------Footer-----------*/
.footer {
    background-color: rgb(230, 230, 230);
}

.social-links {
    list-style: none;
    display: flex;
}

.social-links li {
    margin: 1rem;
    font-size: 2rem;
}

.recipe-featurette {
    background: url('/media/mae-mu-ecUVGNZA1TM-unsplash.jpg');
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #ffffff;
}

.product-featurette {
    background: url('/media/honey-jar-with-wooden-stick-drains-honey-dark-background_70626-4706.jpg');
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 86%;
    color: #ffffff;
}

.how-works i {
    font-size: 3rem;
    padding-top: 2rem;
}

.absolute {
    position: absolute;
}

/*---- All auth/Admin  -----*/

.account-form {
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.384));
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
}

.account-form h1,
.account-form p {
    text-align: center;
}

.account-form button,
.account-form .btn {
    width: 100%;
}

.account-form label {
    display: none;
}

.account-form .textinput {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.account-form i {
    font-size: 10rem;
    text-align: center;
    margin: auto;
}

.password_change a {
    display: flex;
    justify-content: center;
    color: white;
}

/*------Sign up + Login ----------*/
.login {
    background-color: #202020;
}

.login-img {
    background-image: url('/media/pexels-artem-saranin-1187079.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
}

.requiredField {
    display: none;
}

.login-form {
    background-color: #202020;
    color: white;
    padding: 3rem 2rem 4rem;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    text-align: center;
}

.login-form .form-group {
    text-align: left;
}

.login-form .textinput {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*--Toasts and messages---*/
.message-container {
    position: fixed;
    top: 6%;
    right: 0%;
    z-index: 99999;
    background-color: #ffffff;
}

/*---------About ---------*/

.who img {
    width: 100%;
    object-fit: cover;
    height: 14rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.who .text-muted {
    font-size: 0.75rem;
}

/*-----Contact--------*/

#map {
    height: 16rem;
}

/*----------- Tablet-------------*/
@media(min-width:768px) {

    /*------General---------*/
    .drop-shadow-md {
        filter: drop-shadow(2px 4px 6px black);
    }

    /*---------Index-------*/
    .recipe-featurette,
    .product-featurette {
        height: 26rem;
        background-position: bottom;
    }

    .login {
        background-image: url('/media/background-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 4rem;
        padding-bottom: 5rem;

    }

    .login-form {
        padding: 3rem 3rem 4rem;
    }

}

/*----------- Laptop-------------*/
@media(min-width:992px) {

    .recipe-featurette,
    .product-featurette {
        height: 35rem;
        background-position: bottom;
    }

    .account-form button,
    .account-form .btn {
        width: 50%;
    }

    .w-lg-60 {
        width: 60% !important;
    }

    .who img {
        height: 24rem;
        margin-top: 0;
        margin-bottom: 0;
        padding: 2rem;
    }

    .login {
        background-image: url('/media/background-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 4rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .login-img {
        background-image: url('/media/pexels-artem-saranin-1187079.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 4%;
        border-bottom-left-radius: 4%;
    }

    .requiredField {
        display: none;
    }

    .login-form {
        background-color: #202020;
        color: white;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
    }

    .login-form .textinput {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}