.product-header {
    background-image: url('/media/honey-352205_1920_xizenlO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30rem;
    color: white;
}

img {
    width: 100%;
    object-fit: cover;
}

.card {
    width: fit-content;
}

.card img {
    height: 15rem;
}

.product-image img {
    height: 15rem;
}

.logo img {
    height: 2rem;
    width: auto;
}

.featured-recipe img {
    height: 15rem;
}

.other-product img {
    height: 13rem;
}

.company {
    border: 1px solid rgb(230, 230, 230);
    height: 15rem;
    border-radius: 3%;
}

.company img {
    height: 100%;
}

.company-admin .edit {
    position: relative;
    right: 50%;
}

.company-admin .delete {
    position: relative;
    left: 50%;
}

/*------------Tablet-------------*/
@media(min-width: 768px) {
    .alt {
        height: 28rem;
    }
}

/*--------------Laptop----------*/
@media(min-width: 992px) {
    .product-image img {
        height: 30rem;
    }

    .alt {
        height: 36rem;
    }
}