/*--------------Variables-----------*/
:root {
    --gold: #d4c059;
    --jet: #202020;

    --bebas-neue: 'Bebas Neue', cursive;
    --montserrat: 'Montserrat', sans-serif;
}

/*---------------Product main page------------*/
.product-header {
    background-image: url('/media/pexels-polina-kovaleva-5645127.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 30rem;
    color: white;
    padding-top: 5rem;
}

img {
    width: 100%;
    object-fit: cover;
}

.card {
    width: fit-content;
    border: 1px solid #d4bf5973;
}

.card img {
    height: 15rem;
}

.card-body {
    background-color: var(--gold);
}

.body-dark {
    background-color: var(--jet);
}

.admin-section {
    background-color: var(--gold);
}

.button-edit {
    font-family: var(--bebas-neue);
    background-color: #1060d0;
    color: white;
    font-size: large;
    border: 1px solid #084ba8;
}

.button-edit:hover {
    background-color: #074294;
    border: 1px solid #012353;
    color: white;
    transition: 0.25s;
}

.button-delete {
    font-family: var(--bebas-neue);
    background-color: #d30000;
    color: white;
    font-size: large;
    border: 1px solid #b60101;
}

.button-delete:hover {
    background-color: #970000;
    border: 1px solid #690000;
    color: white;
    transition: 0.25s;
}

.button-add {
    font-family: var(--bebas-neue);
    font-size: large;
    background-color: #3f6d2e;
    color: white;
    border: 1px solid #2d662d;
}

.button-add:hover {
    background-color: #2e5221;
    color: white;
    border: 1px solid #234e23;
    transition: 0.25s;
}

/*----------------Product details page------------*/

.product-detail {
    background-image: url('/media/product-background-mobile.png');
    /* https: //stackoverflow.com/questions/11223585/how-to-stretch
    -the-background-image-to-fill-a-div -Solution for size 100% 100%
    to make mobile background fit its space */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 33rem;
}

.product-detail p {
    background-color: #16161677;
}

.product-image img {
    height: 15rem;
    object-fit: contain;
}

.logo {
    justify-content: center;
}

.logo img {
    height: 3rem;
    width: auto;
    background: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.divider {
    border-top: 1px solid var(--gold);
}

.featured-recipe img {
    height: 15rem;
}

.other-product img {
    height: 13rem;
}

/*-----------Partners page------------------*/
.company {
    border: 1px solid rgb(230, 230, 230);
    height: 15rem;
    border-radius: 3%;
    background: white;
}

.company img {
    height: 100%;
    object-fit: contain;
}

.company-admin .edit {
    position: relative;
    right: 50%;
}

.company-admin .delete {
    position: relative;
    left: 50%;
}

/* Loaded in base.css and product.css so app is truly self-sufficient */
.recipe-featurette {
    background: url('/media/mae-mu-ecUVGNZA1TM-unsplash.jpg');
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #ffffff;
}

/*--------------Product/Company Forms----------------*/
input[type="file"] {
    padding-bottom: 2rem;
}

/*------------Tablet-------------*/
@media(min-width: 768px) {

    /*-----------Products-------------*/
    .alt {
        height: 28rem;
    }

    /*--------Product-detail--------*/
    .product-detail {
        background-image: url('/media/background-3.png');
        height: 27rem;
    }

    .product-image img {
        height: 23rem;
    }

    /*--------Partners-----------*/
    .company {
        width: 80%;
    }

    .details {
        width: 80%;
    }

    .request-box {
        background-color: #202020;
        height: 19rem;
    }
}

/*--------------Laptop----------*/
@media(min-width: 992px) {

    /*-----------Product details---------*/
    .product-detail {
        height: 36rem;
        background-position: center;
        padding-top: 2rem;
    }

    .product-image img {
        height: 28rem;
    }

    .product-detail .details {
        padding-top: 3rem
    }

    /*------------Products----------*/
    .alt {
        height: 38rem;
    }

    .product-header {
        padding-top: 10rem;
    }

    /*-------------Partners--------------*/
    .company {
        width: 100%;
    }

    .details {
        width: 100%;
    }

    .request-box {
        background-color: #202020;
        height: 23rem;
    }
}

/*-------------XL screens---------------*/
@media(min-width: 1200px) {
    .product-detail {
        height: 44rem;
        background-position: center;
        padding-top: 4rem;
    }

    .product-image img {
        height: 32rem;
    }

    .mw-xl {
        max-width: 1200px;
    }
}