{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'subscriptions/css/subscription.css' %}">
{% endblock %}

{% block additional_title %}| Checkout{% endblock %}

{% block content %}
<div class="container">
    <div class="row checkout-box m-lg-4 mb-lg-5">
        <div class="col-12 checkout-img">
            <div class="row">
                <form id="payment-form" class="col-12 col-lg-6 px-4 ml-auto"
                    method="POST">
                    <h1 class="text-center p-3">Payment</h1>
                    <h3 class="pb-3">Delivery Details</h3>
                    <div class="m-3" id="card-element">
                        <!-- Elements will create input elements here-->
                    </div>
                    <!-- We'll put the error messages in this element -->
                    <div id="card-element-errors" role="alert">
                    </div>
                    {% csrf_token %}
                    {{sub_form|crispy}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value=""
                            id="save-shipping" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Update my delivery details.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value=""
                            id="same-billing" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            BIlling address same as delivery
                        </label>
                    </div>
                    <div id=billing-form class="d-none pt-3">
                        <h3 class="py-2">Billing Details</h3>
                        {{bill_form|crispy}}
                    </div>

                    <button id="submit-button" class="btn btn-block
                btn-info mt-3 mb-5">Subscribe</button>
                </form>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="customerId" value="{{ profile.stripe_customer_id }}"
    name="customerId">
<input type="hidden" id="username" value="{{ user.username }}" name="username">
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{{ stripe_price_ID|json_script:"id_stripe_price" }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
<script src="{% static 'subscriptions/js/stripe_element.js' %}"></script>
<script src="{% static 'subscriptions/js/billing_form.js' %}"></script>
{% endblock %}