{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'subscriptions/css/subscription.css' %}">
{% endblock %}

{% block additional_title %}| My Recipes{% endblock %}

{% block content %}
<div class="container-fluid page-push thank-you">
    <div class="row">
        <div class="col-12 col-md-5 col-lg-4 text-center text">
            <h1 class=" text-center py-4 my-lg-5 text-uppercase">Thank You
            </h1>
            <h5 class="pb-4 py-lg-4">
                With your help we can make honey all the sweeter!
            </h5>
            <p>
                We have sent a confirmation email to
                <span class="font-weight-bold">{{request.user.email}}</span>
                confirming your
                subscription information.
            </p>
            <p>
                Your first delivery should arrive in the first
                week of the
                month, but your access to our newest recipes
                begins immediately!
            </p>
            <p>
                If you have any problems with your delivery info, just update it
                before the first of the month and it should be sent correctly.
            </p>
            <p> Otherwise, <a href="{% url 'contact' %}">Contact Us
                </a>
                and we will sort it out.</p>
            <a href="{% url 'profiles' %}" class="btn button-yellow btn-lg m-5"
                aria-label="See your profile information.">
                Profile </a>
        </div>


    </div>
</div>
{% endblock %}