/*------------Recipes page----------------*/
.recipe-header {
    background-image: url('/media/pexels-dana-tentis-1152276.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-position: center;
    color: white;
}

.recipe-list {
    border: 1px solid rgb(197, 197, 197);
}

.recipe-list img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.recipe-list a {
    color: black;
}

.recipe img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

/*-----------Recipe-detail---------------*/

.featured-product {
    height: 10rem;
    object-fit: cover;
}

.other-recipe img {
    height: 10rem;
    object-fit: cover;
    width: 75%;
}

.blur {
    filter: blur(6px);
}

.restricted {
    position: absolute;
    bottom: -45%;
    padding: 1rem;
}

/*--------Recipe forms----------*/
input[type="file"] {
    margin-bottom: 1rem;
}


@media(min-width: 992px) {

    /*---------------Recipes-Page-----------------*/
    .recipe-header {
        padding-top: 10rem;
    }

    /*---------------Recipe-detail---------------*/
    .recipe img {
        height: 25rem;
    }

    .restricted {
        bottom: 10%;
        left: 24%;
        width: 50%;
    }
}