{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block additional_title %}| Login{% endblock %}

{% block content %}
<div class="container-fluid login">
  <div class="row mx-auto w-lg-60">
    <div class="col-12">
      <div class="row drop-shadow-md">
        <!-- Side Image for login form-->
        <div class="d-none d-md-block col-md-3 login-img">
        </div>
        <!-- Login form -->
        <form id="login-form" class="col-12 col-md-9 login-form" method="POST">
          <h1 class="pb-3 pt-2">{% trans "Login" %}</h1>

          <!-- Loads social accounts if they exist -->
          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a
              href="{{ signup_url }}">sign
              up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}
          </p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}Don't have an account? Then why not
            <a href="{{ signup_url }}">sign up</a> here.{% endblocktrans %}</p>
          {% endif %}
          <!-- Sign in details -->
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn button-yellow btn-block my-3"
              type="submit">{% trans "Sign In" %}</button>
            <a class="button"
              href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}