{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block additional_title %}| Password Reset{% endblock %}

{% block content %}
<div class="container-fluid password_change">
    <div class="row p-lg-5 my-lg-4">
        <div
            class="col-12 px-md-5 py-5 col-lg-6 offset-lg-3 account-form my-lg-5">
            <h1 class="text-center">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="mb-1">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
            <form method="POST" action="{% url 'account_change_password' %}"
                class="p-2 pt-3 pb-4">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="my-4 p-2 btn btn-info btn-block"
                    name="action">{% trans "Change Password" %}</button>
                <p>{% blocktrans %}Please contact us if you have any trouble
                    resetting your
                    password.{% endblocktrans %}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-------->