{% extends 'accountform.html' %}
{% load static %}

{% load i18n %}

{% block additional_title %}| Password Change Complete{% endblock %}

{% block account-content %}
<h1 class="text-capitalize py-4">Success!</h1>
<div class="text-center">
    <i class="fas fa-check-circle mx-auto"></i>
</div>
<p class="py-4">
    Your password has been changed successfully and can be used immediately.
</p>
<div class="text-center pb-4">
    <a class="btn button-yellow p-2" href="{% url 'profiles' %}">My
        Profile</a>
</div>

{% endblock %}