{% extends "accountform.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block additional_title %}| Change Password{% endblock %}

{% block account-content %}
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}"
    class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="text-center">
        <button type="submit" name="action"
            class="btn btn-info my-3 p-2">{% trans "Change Password" %}</button>
    </div>
    <div class="text-center">
        <a href="{% url 'account_reset_password' %}"
            class="text-center">{% trans "Forgot Password?" %}</a>
    </div>

</form>
{% endblock %}