{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet"
    href="{% static 'customerservice/css/customerservice.css' %}">
{% endblock %}

{% block content %}
<div class="container who page-push">
    <!-- Page title-->
    <div class="row pt-lg-4">
        <h1 class="col-12 py-4 text-center">
            <span class="underline">About
                Us</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 align-self-lg-center">
            <h2 class="py-2">Who We Are</h2>
            <p>We started Freebees to find a way to help the bees in our
                country; the honey bees we think of most often, and the many
                other species of wild bee that are being harmed and spoken of
                much less.
            </p>
            <p>So we decided to partner up with like minded groups
                to try and
                tackle both at once! Free bees and you can get some tasty
                freebies (witty no).</p>
        </div>
        <div class="col-12 col-md-6 col-lg-7 align-self-md-center">
            <img src="{{ MEDIA_URL }}about-us-1.jpg" alt="Four beekeepers.">
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-6 col-lg-7 align-self-md-center">
            <img src="{{ MEDIA_URL }}about-us-2.jpg"
                alt="Beekeeper with smoke gun.">
        </div>
        <div class="col-12 col-md-6 col-lg-5 align-self-lg-center">
            <h2 class="pt-3 pb-2">Sting In the Tale</h2>
            <p>The current form of commercial beekeeping forces the production
                of honey from hives forced to grow queens, existing on harsh
                sugars while their honey is harvested beyond reasonable levels.
            </p>
            <p>Bees are smoked, treated with harsh chemicals and all at the
                cost of the welfare and life span of the bees themselves.
            </p>
            <p>
                Add on the delivery of honey from other countries and all the
                ethical concerns...
            </p>
        </div>
        <div class="col-12 d-block d-md-none">
            <img src="{{ MEDIA_URL }}about-us-2.jpg"
                alt="Beekeeper with smoke gun.">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="font-weight-bold text-center py-4"> It can be alot to
                think
                about, but we
                aren't here to cast blame.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 align-self-lg-center">
            <h2 class="pt-3 pb-2">But Things Can Bee Better</h2>
            <p>The point is it can be better, and that's why we are here!</p>
            <p> Your subscription helps fund the beekeepers who really care
                about
                their swarms, and with our funding we can donate to the
                charities
                which will help preserve our bees and wildlife buzzing along.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-7 align-self-md-center"><img
                src="{{ MEDIA_URL }}about-us-3.jpg"
                alt="Beekeeper behind some flowers.">
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-6 col-lg-7 align-self-md-center">
            <img src="{{ MEDIA_URL }}about-us-4.jpg"
                alt="Beehives in wooded area.">
        </div>
        <div class="col-12 col-md-6 col-lg-5 align-self-lg-center">
            <h2 class="pt-3 pb-2">What Makes Us So Different</h2>
            <p>Our partners do the closest form of beekeeping as possible to
                just leaving the bees alone, sometimes called natural or
                biodynamic beekeeping.
            </p>
            <p>No unneccesary pesticides, antibiotics, no forced queens or
                overwinter killing. Just pollen, bees and whatever remains after
                winter. </p>
        </div>
        <div class=" col-12 d-block d-md-none">
            <img src="{{ MEDIA_URL }}about-us-4.jpg"
                alt="Beehives in wooded area.">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">

    </div>
</div>
</div>
{% endblock %}