{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet"
    href="{% static 'customerservice/css/customerservice.css' %}">
{% endblock %}

{% block content %}
<!-- Landing Image -->
<div class="container-fluid landing page-push">
    <div class="row text-center">
        <div class="col-12 col-md-8 pt-md-5 drop-shadow">
            <h1 class="mt-lg-3 pt-5">FreeBees</h1>
            <h5 class="col pt-2 px-0 white pb-5 my-3">
                The first honey subscription site promoted to encouraging
                ethical beekeeping.
            </h5>
            {% if request.user.userprofile.has_active_subscription %}
            <a href="{% url 'recipes' %}" class="btn-lg button-yellow"
                aria-label="List of Freebees recipes.">Try
                Something New</a>
            {% else %}
            <a href="{% url 'subscription_page' %}" class="btn-lg button-yellow"
                aria-label="See why you should subscribe to Freebees.">Subscribe
                Now</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h2 class="py-3">Welcome to Freebees!</h2>
            <p>The first honey subscription service where we promote free bees
                and freebies, you know as in our name...</p>
            <p>This isn't some new age, must eat some diet sort of site. This is
                a group of people wanting to encourage better care for our bees
                so you can enjoy our honey and do some good at the same
                time.</p>
            <p>Every animal deserves to live well, and for just £6 a month we
                can help make that a reality.</p>
        </div>
    </div>
</div>
<!-- How it works -->
<section class="container">
    <div class="row text-center p-5 my-lg-4 mb-lg-5 how-works">
        <h2 class="col-12 mb-4"><span class="underline">How it works</span></h2>
        <div class="col-12 col-md-6 col-lg-3 my-2 p-2">
            <i class="fas fa-file-invoice-dollar mb-4 yellow"></i>
            <p>Sign up for our £6 monthly subscription online and help support
                us.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 my-2 p-2">
            <i class="fas fa-truck mb-4 yellow"></i>
            <p>Beginning of every month we deliver your honey free of charge
                to your door.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 my-2 p-2">
            <i class="fas fa-gifts mb-4 yellow"></i>
            <p>You receive the best honey around, along with early access to
                our amazing related recipes!</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 my-2 p-2">
            <i class="fas fa-leaf mb-4 yellow"></i>
            <p>Your subscription helps us encourage better beekeeping
                practices and support charities for our nation's bees.</p>
        </div>
        {% if not request.user.userprofile.has_active_subscription %}
        <a href="{% url 'subscription_page' %}"
            class="btn-lg button-yellow mx-auto">Subscribe Now</a>
        {% endif %}
    </div>
</section>
<!-- About Us section-->
<section class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 py-5 px-4 w-75 alt-colour">
            <h3 class="px-4 black">UnBEEtable freebies</h3>
            <h2 class="px-4 mb-3 white">Our Honey will leave you wanting more
            </h2>
            <p class="px-4 black">The unmissable honey tasting experience. Every
                month enjoy a new honey variety, either foraged from
                specific flowers or seasoned with new and exciting flavours.
            </p>
            <p class="px-4 mb-5 black">Enjoy the sweet life every month and help
                us to care for our wildlife for just £6 a month.</p>
            <a href="{% url 'about' %}" class="btn-lg button-dark mx-4 my-5"
                aria-label="Read more about who we are.">
                About
                Us
            </a>
        </div>
        <div class="col-12 col-md-6 py-5 px-4 text-sm-right">
            <h3 class="px-4 pl-lg-5">This is all about</h3>
            <h2 class="px-4 pl-lg-5 mb-3">Working Together</h2>
            <p class="px-4 pl-lg-5">Just like bees, great honey doesn't
                happen over
                night and it
                certaintly doesn't happen on its own.
                We've teamed up with like minded farms, apiasts, beekeepers
                and whatever else they want to call themselves to bring you
                the best honey the right way.
            </p>
            <p class="px-4 pl-lg-5">
                No funny business.
            </p>
            <p class="px-4 pl-lg-5 mb-3">Only good bee-keeping.</p>
            <a href="{% url 'partners' %}"
                aria-label="Find out about the companies we work with."
                class="btn-lg button-yellow mx-4 my-5">
                Our Partners
            </a>
        </div>
    </div>
</section>
<!-- Products featurette -->
<section class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 product-featurette">
            <div class="row align-self-center pt-lg-5">
                <div class="col-12 col-md-6 col-lg-12 text-center mt-5 pt-md-5">
                    <h3 class="pt-3 pb-2">Our Products</h3>
                    <p class="pb-3">Take a look at some of our amazing
                        honies
                    </p>
                    <a href="{% url 'products' %}"
                        class="btn btn-lg button-yellow"
                        aria-label="Our range of products.">Our
                        Honey</a>
                </div>
            </div>
        </div>
        <!-- Recipes featurette-->
        <div class="col-12 col-lg-6 recipe-featurette">
            <div class="row justify-content-end align-items-center pt-lg-5">
                <div class="col-12 col-md-6 col-lg-12 text-center mt-5 pt-md-5">
                    <h3 class="pt-3 pb-2">Feeling hungry yet?</h3>
                    <p class="pb-3">Check out our recipes for some mouth
                        watering
                        inspiration</p>
                    <a href="{% url 'recipes' %}" aria-label="See our recipes."
                        class="btn btn-lg button-yellow">Our
                        recipes</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}