{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block additional_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block additional_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block additional_js %}
    {% endblock %}

    <title>FreeBees {% block additional_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navigation">
            <a class="navbar-brand" href="{% url 'home' %}">FreeBees</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.userprofile.has_active_subscription %}
                    {% else %}
                    <li class="nav-item">
                        <!-- use of if request in this style to specify active 
                        page found from
                        https://github.com/irinatu17/Art-of-Tea-->
                        <a class="nav-link {% if request.get_full_path == '/subscription/' %}active{% endif %}"
                            href="{% url 'subscription_page' %}">Subscribe</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/products/' %}active{% endif %}"
                            href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/recipes/' %}active{% endif %}"
                            href="{% url 'recipes' %}">Recipes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                                href="{% url 'about' %}">Our Story</a>
                            <a class="dropdown-item"
                                href="{% url 'partners' %}">Partners</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/contact/' %}active{% endif %}"
                            href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#"
                            id="profileDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu"
                            aria-labelledby="profileDropdown">
                            {% if request.user.is_superuser %}
                            <a class="dropdown-item"
                                href="{% url 'add_product' %}">Add
                                Product</a>
                            <a class="dropdown-item"
                                href="{% url 'add_recipe' %}">Add
                                Recipe</a>
                            <a class="dropdown-item"
                                href="{% url 'add_company' %}">Add
                                Company</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item"
                                href="{% url 'profiles' %}">My
                                Profile</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/accounts/logout/' %}active{% endif %}"
                            href="{% url 'account_logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == '/accounts/login/' %}active{% endif %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>


    <!-- Footer -->
    <footer class="footer w-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a class="navbar-brand pt-4"
                        href="{% url 'home' %}">FreeBees</a>
                </div>
                <div class="col-12">
                    <button class="footer-toggler w-100 p-3" type="button"
                        data-toggle="collapse" data-target="#footerContent"
                        aria-controls="footerContent" aria-expanded="false"
                        aria-label="Toggle footer navigation">
                        More Info <i class="fas fa-chevron-down"></i>
                        <!-- <span class="navbar-toggler-icon"></span> -->
                    </button>

                    <div class="collapse footer-collapse" id="footerContent">
                        <ul class="footer-nav justify-content-center mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link p-3"
                                    href="{% url 'home' %}">Home
                                    <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-3 px-3" href="#">Our
                                    Honey</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-3 px-3" href="#">About
                                    Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-3 px-3" href="#">Hive
                                    Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-3 px-3"
                                    href="#">Recipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-3 px-3" href="#">Contact
                                    Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="social-links justify-content-center px-1 mb-0">
                        <li>
                            <a href="https://www.facebook.com" target="_blank"
                                rel="noopener"><i class="fab fa-facebook-f"
                                    aria-hidden="true"></i></a>
                            <span class="sr-only">Facebook</span>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank"
                                rel="noopener"><i class="fab fa-twitter"
                                    aria-hidden="true"></i></a>
                            <span class="sr-only">Twitter</span>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" target="_blank"
                                rel="noopener"><i class="fab fa-linkedin-in"
                                    aria-hidden="true"></i></a>
                            <span class="sr-only">Linked-in</span>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank"
                                rel="noopener"><i class="fab fa-instagram"
                                    aria-hidden="true"></i></a>
                            <span class="sr-only">instagram</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6 p-1">
                    <a href="">Terms Of Use</a>
                </div>
                <div class="col-6 p-1">
                    <a href="">Privacy Policy</a>
                </div>
                <div class="col-12">
                    <h5 class="my-3">&#169; 2021 FreeBees</h5>
                    <p class="mt-1">All rights are reserved. All other
                        trademarks, trade
                        names and production are properties of their
                        respective owners. Hive Honey has the right to
                        market, distribute and use our partnership
                        products
                        as required.</p>
                    <p class="mb-4">Want to get in touch? Drop us a
                        message
                        or email via
                        our contact page.</p>
                </div>
            </div>

        </div>
    </footer>

    {% block modal %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>