{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block additional_title %}| {{ product.name }} {% endblock %}

{% block content %}
<section class="container-fluid mb-3 product-detail">
    <div class="row pt-4 mx-auto mw-xl">
        <!-- Product loading section-->
        <div class="col-12 col-md-5 mx-auto details">
            <h1 class="p-3 pt-md-5 pb-md-0 text-center">{{ product.name }}
            </h1>
            <p>{{ product.description }}</p>
            <div class="d-flex mb-4 logo my-auto">
                <img src="{{ product.company.logo.url }}"
                    alt="{{ product.company.name }}">
                <h5 class="px-3 pt-3">{{ product.company.name }}</h5>
                <a href=" {{ product.company.company_url }}" target="_blank"
                    rel="noopener" class="btn button-yellow my-auto">
                    Visit
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 product-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                class="pt-lg-3">
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-8 divider mx-auto pb-3"></div>
    </div>
</div>
<!-- Flavour and texture profile -->
<section class="container my-5 mt-lg-4 mb-lg-5">
    <div class="row text-center">
        <div class="col-12 col-md-6 pb-3 pr-md-5">
            <h3>Texture</h3>
            <p>{{ product.texture }}</p>
        </div>
        <div class="col-12 col-md-6 pb-3 pl-md-5">
            <h3>Flavour Profile</h3>
            <p>{{ product.flavour }}</p>
        </div>
    </div>
    <div class="col-12 pt-3 text-center">
        <a href="{% url 'subscription_page' %}"
            class="btn-lg button-yellow">Subscribe Now</a>
    </div>
</section>
<!-- Other recipes -->
<section class="container py-4 mb-1">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-4 text-center text-lg-left order-md-last">
            <h3 class="pt-2">Need some inspiration?</h3>
            <p class="py-2">
                Come and see what honey is really good for, make
                something
                special and share some freebees with others.
            </p>
            <a href="{% url 'recipes' %}" class="btn button-yellow mb-5">Our
                recipes</a>
        </div>
        {% if recipes != None %}
        {% for recipe in recipes %}
        <article class="col-12 col-md-6 col-lg-4 mb-4 featured-recipe">
            <!-- Adds a restricted badge to recipe if within last 3 months-->
            {% if recipe.is_restricted %}
            <div class="restricted-badge">
                <img src="{{ MEDIA_URL }}pngkey.com-star-burst-png-4385724.png"
                    alt="Subscription required badge">
            </div>
            {% endif %}
            <a href="{% url 'recipe_detail' recipe.title %}"><img
                    src="{{ recipe.image.url }}"
                    alt="Table set with {{ recipe.title }}"></a>
            <h4 class="text-center p-2">{{ recipe.title }}</h4>
        </article>
        {% endfor %}

        {% else %}
        <div class="col-12 text-center">
            <h3>Seems we don't have anything here right now.</h3>
            <p>Come back soon and we'll have some really nice ideas for this
                honey to share.</p>
        </div>
        {% endif %}
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-8 divider mx-auto pb-3"></div>
    </div>
</div>
<!-- Other products -->
<section class="container mb-5 text-center">
    <h2 class="py-4">Your might also like</h2>
    <div class="row d-flex justify-content-center">
        {% if products == None %}
        <div class="col-12">
            <h3>Seems we don't have anything here right now.</h3>
            <p>Come back soon and there will be something lovely and
                sweet here
                waiting.</p>
        </div>
        {% else %}
        {% for product in products %}
        <article class="col-12 col-md-6 col-lg-3 px-4 mb-3 other-product">
            <a href="{% url 'product_details' product.id %}"><img
                    src="{{ product.image.url }}" alt="{{ product.name }}"></a>
            <h5>{{ product.name }}</h5>
        </article>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}