{% extends 'products/form_base.html' %}
{% load static %}

{% block additional_title %}| Editing {company.name}{% endblock %}

<!-- Type of form responsibility -->
{% block formtype %}Editing:{% endblock %}

<!-- Action to take on form submission -->
{% block formaction %}{% url 'update_company' company.id %}{% endblock %}

<!-- Text for submit button -->
{% block submitevent %}Edit Company{% endblock %}

<!-- Return url for cancel button -->
{% block returnurl %}{% url 'partners' %}{% endblock %}