{% extends 'products/form_base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block additional_title %}| Editing {{product.name}}{% endblock %}

<!-- Type of form responsibility -->
{% block formtype %}Editing:{% endblock %}

<!-- Action to take on form submission -->
{% block formaction %}{% url 'update_product' product.id %}{% endblock %}

<!-- Text for submit button -->
{% block submitevent %}Edit Product{% endblock %}

<!-- Return url for cancel button -->
{% block returnurl %}{% url 'products' %}{% endblock %}